<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logistica Juvani</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.jpeg">
    <meta name="keywords" content= "producto, foto, imagenes">
    <meta name="description" content="Fotos de nuestros productos a la venta">
  </head>
  <body>
    <!-- Comienzo de nav -->
    <nav class="navbar navbar-expand-lg navbar-light fondoNav sticky-lg-top">
        <div class="container-fluid ">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="Logo de Empresa" class="logo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" id="nav-t-color">
                    <a class="nav-link " aria-current="page" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galeria.html">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
      <!-- Finaliza Nav -->
      <!-- COMIENZO MAIN -->
    <section class="py-2">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1>Galeria de nuestros Productos</h1>
                    </div>
                </div>
            </div>
<!-- comieza row -->
                <div class="row"> 
                    <article class="col-sm-12 col-md-6 col-lg-4 px-5 px-lg-5 py-3 py-lg-2 text-center">
                        <div class="border border-4 p-2 border-product">
                            <img src="../img/Latatomate.jpeg" alt="Lata tomate" class="w-100 d-block">
                            <h2>Lata de tomate</h2>
                            
                        </div>
                    </article>

                    <article class="col-sm-12 col-md-6 col-lg-4 px-5 px-lg-5 py-3 py-lg-2 text-center">
                        <div class="border border-4 p-2 border-product">
                            <img src="../img/Aceitegirasol.jpeg" alt="aceite" class="w-100 d-block">
                            <h2>Aceite x5L</h2>
                        </div>
                    </article>

                    <article class="col-sm-12 col-md-6 col-lg-4 px-5 px-lg-5 py-3 py-lg-2 text-center" >
                        <div class="border border-4 p-2 border-product">
                            <img src="../img/Atun.jpeg" alt="Atun" class="w-100 d-block">
                            <h2>Atun</h2>
                        </div>
                    </article>

                    <article class="col-sm-12 col-md-6 col-lg-4 px-5 px-lg-5 py-3 py-lg-2 text-center">
                        <div class="border border-4 p-2 border-product">
                            <img src="../img/Aceite900.jpeg" alt="Aceite" class="w-100 d-block">
                            <h2>Aceite x900ml</h2>
                        </div>
                    </article>

                    <article class="col-sm-12 col-md-6 col-lg-4 px-5 px-lg-5 py-3 py-lg-2 text-center">
                        <div class="border border-4 p-2 border-product">
                            <img src="../img/Sachettomate.jpeg" alt="Tomate" class="w-100 d-block">
                            <h2>Sachet de tomate x1Kg</h2>
                        </div>
                    </article>

                    <article class="col-sm-12 col-md-6 col-lg-4 px-5 px-lg-5 py-3 py-lg-2 text-center">
                        <div class="border border-4 p-2 border-product">
                            <img src="../img/Tomateperita.jpeg" alt="Tomate" class="w-100 d-block">
                            <h2>Tomate Perita</h2>
                        </div>
                    </article>
                </div>
<!-- termina Row -->

      <!-- ----Footer---- -->

<div class="container-fluid text-center  mt-3">
    <h3 class="card-title">Seguinos en nuestras redes sociales!</h3>
    <a href="https://www.facebook.com" target="_blank">
        <img src="../img/facebook.png" alt="logo de Facebook" class="img-footer">
    </a>
    <a href="https://www.WhatsApp.com"  target="_blank">
        <img src="../img/WhatsApp.png" alt="logo de WhatsApp" class="img-footer">
    </a>
    <a href="https://www.twitter.com"  target="_blank">
        <img src="../img/twitter.png" alt="logo de Twitter" class="img-footer">
    </a>
</div>

<!-- ----end footer---- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>