<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logistica Juvani</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.jpeg">
    <meta name="keywords" content= "transpoerte, carga, almacen, permisos">
    <meta name="description" content="Podras tener informacion sobre todos nuestros servicios">
  </head>
  <body>
    <!-- Comienzo de nav -->
    <nav class="navbar navbar-expand-lg navbar-light fondoNav sticky-lg-top">
        <div class="container-fluid ">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="Logo de Empresa" class="logo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" id="nav-t-color">
                    <a class="nav-link " aria-current="page" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galeria.html">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
      <!-- Finaliza Nav -->
      <!-- Inicia Header -->
      <header>
        <img src="../img/atent.jpg" class="w-100" alt="Atencion">
    </header>
  <!-- Finaliza Header -->
  <!-- COMIENZO MAIN -->
  <main>
    <div class="container py-3 w-100">
        <div class="row">
            <div class="col text-center">
                <h1>Nuestros Servicios</h1>
            </div>
        </div>
    </div>
    <div class="fondoCard row border-4 border card-border w-98 m-auto align-content-center mb-5">
        <article class="col-lg-2 d-flex  align-items-center">
            <img src="../img/camion1jpg.webp" alt="imagen de camion transportando" class="img-fluid rounded-start p-3 w-100">
        </article>
        <div class="col-lg-8 text-center mt-auto mb-auto">
            <h2 class="card-title pb-2 ">Cargas Generales</h2>
            <p class="card-text texto">Realizamos cargas de: Movmiento de contenedores de peurto. Cargas locales y al interior en semirremolque sieder y furgones.
                Poseemos propias unidades utalitarias, Camionetas, chasis y balancines.
                Unidades refrigeradas y con temperaturas controladas.
            </p>
        </div>
    </div>

    <div class="fondoCard row border-4 border card-border w-98 m-auto align-content-center mb-5">
        <div class="col-lg-8 text-center mt-auto mb-auto">
            <h2 class="card-title pb-2 pt-2 ">Cargas Especiales</h2>
            <p class="card-text texto" >Poseemos, remolques con suspension neumatica. Cisternas para liquidos. Cargas peligrosas (IMO). Sismografos incorporados para el registro del movimiento del transito</p>
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <article class="col-lg-2 d-flex align-items-center">
            <img src="../img/carga.jpgg.webp" alt="Imagen de tren transportando " class="img-fluid rounded-start p-3 w-100">
        </article>
    </div>

    <div class=" fondoCard row border-4 border card-border w-98 m-auto align-content-center mb-5">
        <article class="col-lg-2 d-flex align-items-center">
            <img src="../img/permisos.jpg" alt="aceptacion" class="img-fluid rounded-start p-3 w-100">
        </article>
        <div class="col-lg-8 text-center mt-auto mb-auto">
            <h2 class="card-title pb-2 ">Permisos Especiales</h2>
            <p class="card-text texto" >.ISTA (Servicios Aduaneros). Permisos Internacionales a paises limitrofes. Sedronar (precursores quimicos)</p>
        </div>
    </div>
    
    <div class="fondoCard row border-4 border card-border w-98 m-auto align-content-center mb-5">
        <div class="col-lg-8 text-center mt-auto mb-auto">
            <h2 class="card-title pb-2 pt-2 ">Deposito</h2>
            <p class="card-text texto" >Almacenaje de mercaderias. Control de stock, palletizado, etiquetado y armado de pedido. Consolidacion y desconsolidacion de contenedores. Cross-docking. Deposito hablilitado con camaras y vigilancia, 24hs dentro de un parque industrial.</p>
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <article class="col-lg-2 d-flex align-items-center">
            <img src="../img/depo.jpg" alt="Imagen de autoelevador" class="img-fluid rounded-start p-3 w-100">
        </article>
    </div>
</main>
<!-- Fin Main -->

      <!-- ----Footer---- -->

<div class="container-fluid text-center  mt-3">
    <h3 class="card-title">Seguinos en nuestras redes sociales!</h3>
    <a href="https://www.facebook.com" target="_blank">
        <img src="../img/facebook.png" alt="logo de Facebook" class="img-footer">
    </a>
    <a href="https://www.WhatsApp.com"  target="_blank">
        <img src="../img/WhatsApp.png" alt="logo de WhatsApp" class="img-footer">
    </a>
    <a href="https://www.twitter.com"  target="_blank">
        <img src="../img/twitter.png" alt="logo de Twitter" class="img-footer">
    </a>
</div>

<!-- ----end footer---- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>